#CCS files
*.ccsproject
*.cproject
*.project
*/.settings
*/Debug/*
/.jxbrowser-data/*
*/.launches/
*/targetConfigs/*
*.cmd
.DS_Store
*.ccxml
*.map
*.ld
.vscode


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.metadata/

#Others
/.idea/
*.opt
*.txt
*.xml
*.d_raw